$input_height: 50px;
$input_border_radius: 8px;
$input_font_size: 16px;

.Label {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 1;
  &.open {
    z-index: 5;
    .Input {
      border: 1px solid var(--yellow-color);
    }
    .SelectArrow {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  .LabelText {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
  }
  .LabelInput {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.Input {
  width: 100%;
  height: $input_height;
  position: relative;
  padding: 14px 18px;
  border-radius: $input_border_radius;
  border: 1px solid #ccc;
  user-select: none;
  transition: var(--cubic);
  background: none;
  outline: none;
  font-size: $input_font_size;
  &::placeholder {
    color: rgb(163, 163, 163);
    font-size: inherit;
    font-family: inherit;
    opacity: 1;
    transition: var(--cubic);
  }

  &:focus {
    border: 1px solid var(--yellow-color);
    &::placeholder {
      opacity: 0;
    }
  }
  .SelectArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    svg {
      position: relative;
      transition: var(--cubic);
      transform: rotate(0deg);
      width: 70%;
    }
  }
}

div.Input {
  cursor: pointer;
}

.Textarea {
  height: 150px;
  resize: none;
  font-family: inherit;
}

.InputText {
  font-size: $input_font_size;
  color: inherit;
}

.Placeholder {
  color: rgb(163, 163, 163);
  font-size: inherit;
  font-family: inherit;
  opacity: 1;
  transition: var(--cubic);
}

/*Select*/

.Options {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 120%;
  height: auto;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: $input_border_radius;
  transition: var(--cubic);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translate(0px, 10px);
  z-index: 5;

  &.open {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transform: translate(0px, 0px);
    border: 1px solid var(--yellow-color);
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    max-height: 168px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 4px 8px;
    gap: 8px;
    li {
      width: 100%;
    }
  }
}
