.Button {
  display: inline-flex;
  position: relative;
  font-family: 'Roboto', sans-serif;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 8px;
  padding: 12px 30px;
  min-height: 50px;
  font-weight: 600;
  color: #fff;
  background: var(--green-color);
  transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.2s;
  border: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  outline: none;
  opacity: 1;
  cursor: pointer;
  box-shadow: 0px 14px 15px -14px rgba(0, 0, 0, 0.6);
  transform: translate(0px, 0px);
  user-select: none;
  span {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    pointer-events: none;
  }
  &:disabled {
    opacity: 0.5;
  }
  &:active {
    transform: translate(0px, 2px);
    box-shadow: 0px 12px 10px -14px rgba(0, 0, 0, 0.6);
  }
  &:hover,
  &:focus {
    background: rgb(48, 173, 64);
  }
}

.Big {
  font-size: 18px;
  padding: 12px 36px;
  min-height: 60px;
}

.Small {
  font-size: 14px;
  padding: 10px 20px;
  min-height: 40px;
}

.Black {
  background: var(--text-color);
  &:hover,
  &:focus {
    background: rgb(255, 255, 255);
    color: var(--text-color);
  }
}

.White {
  background: var(--white);
  color: var(--text-color);
  &:hover,
  &:focus {
    color: var(--white);
  }
}

.BorderDark {
  border: 2px solid var(--green-color);
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  color: var(--text-color);
  &:hover,
  &:focus {
    color: var(--white);
  }
}

.BorderLight {
  border: 2px solid var(--green-color);
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  color: var(--white);
}

.Full {
  width: 100%;
}
