$form_gap: 10px 10px;
$form_gap_tablet: 10px 10px;
$form_gap_mobil: 10px 10px;

.Form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  margin: 10px 0px;
  transition: 0.3s;

  @media screen and (min-width: 1280px) {
    gap: $form_gap;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    gap: $form_gap_tablet;
  }
  @media screen and (max-width: 767px) {
    gap: $form_gap_mobil;
  }
}
