$backdrop_background: rgba(133, 133, 133, 0.5);
$popup_background: var(--white);
$popup_border_radius: 14px;
$popup_padding: 40px 20px 30px 20px;
$popup_padding_tablet: 40px 20px 30px 20px;
$popup_padding_mobil: 30px 20px 30px 20px;

$request_width: 440px;
$info_width: 340px;

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 50000;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: $backdrop_background;
  padding: 40px 20px;
  transition: 400ms;
  &.is-open {
    visibility: visible;
    opacity: 1;
    .popup-content {
      transform: translate(0px, 0px);
    }
  }
  .popup-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    text-align: center;
    position: relative;
    transform: translate(0px, 20px);
    transition: 400ms;
    background: $popup_background;
    border-radius: $popup_border_radius;
    max-width: 320px;
    overflow: hidden;
    z-index: 1;
    svg {
      margin: 0 auto;
    }
    hr {
      display: block;
      background: var(--text-color);
      width: 100%;
      height: 1px;
      border: none;
      opacity: 0.3;
      margin: 0 auto;
    }
    &.is-loading {
      &:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.9;
        z-index: 20;
      }
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 40px;
        height: 40px;
        margin-left: -24px;
        margin-top: -24px;
        border-radius: 40px;
        border-top: 8px solid #ccc;
        border-right: 8px solid #ccc;
        border-bottom: 8px solid #ccc;
        border-left: 8px solid var(--green-color);
        opacity: 0.9;
        z-index: 20;
        animation: rotate 0.8s linear infinite;
      }
    }
    &.type-error {
      background: var(--red-color);
      padding: 30px 20px;
      max-width: 250px;
      color: #fff;
      hr {
        background: var(--white);
      }
      button {
        top: 10px;
      }
      .popup-close {
        &::before,
        &::after {
          background: var(--white);
        }
      }
    }
    &.type-request {
      max-width: 320px;
    }
    &.type-confirm {
      padding: 30px 20px;
      max-width: 320px;
      button {
        top: 10px;
      }
      hr {
        background: var(--green-color);
        height: 1px;
        opacity: 1;
      }
    }

    @media screen and (min-width: 1280px) {
      padding: $popup_padding;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding: $popup_padding_tablet;
    }
    @media screen and (max-width: 767px) {
      padding: $popup_padding_mobil;
    }
  }
}

.popup-close {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  font-size: 0px;
  cursor: pointer;
  background: none;
  position: absolute;
  right: 10px;
  top: 10px;
  transition: var(--cubic);
  transform: rotate(0deg);
  z-index: 3;
  &:hover,
  &:focus {
    transform: rotate(90deg);
  }
  &::before,
  &::after {
    content: '';
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background: #050505;
    position: absolute;
    pointer-events: none;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
