.Title {
  font-weight: bold;
  display: block;
  width: 100%;
  line-height: 1.1;
  font-size: 30px;
  white-space: pre-line;
}

.TitleH1 {
  font-size: 70px;
}
.TitleH2 {
  font-size: 60px;
}
.TitleH3 {
  font-size: 50px;
}
.TitleH4 {
  font-size: 36px;
}
.TitleH5 {
  font-size: 26px;
}
.TitleH6 {
  font-size: 20px;
}
